{% load comments %}

<html>
<head><title>{{ post.title }}</title></head>

<body>
    <div id="blogpost">
        <h1>{{ post.title }}</h1>
        <h3>Posted On: {{ post.date_posted|date }}</h3>
        {{ post.body|linebreaks }}
    </div>
    <h3>Comments on This Post:</h3>
    <h3>This is an example of non threaded tags</h3>

{% get_comment_count for post as comment_count %}

there are {{ comment_count }} comments here.<br>

{% render_comment_list for post %}

{% render_comment_form for post %}

</body>
</html>